<!DOCTYPE HTML>

<html>
	<head>
		<title>Admin page</title>
	</head>

	<body>
		<h3>Welcome to my Google killing search engine!</h3>
		<hr/>

		<p>Please enter the following:</p>

		<form method="post">
			<input type="textbox" name="seed"> Seed page</input><br>
			<input type="textbox" name="maxpages"> Maximum pages</input><br>
			<input type="textbox" name="maxdepth"> Maximum depth</input><br>
			<input type="textbox" name="rest"> Time between requests</input><br>
			<input type="submit" value="Start crawling!">
		</form>


	</body>
</html>